
@model IEnumerable<Department>

@{
    ViewData["Title"] = "All Departments";
}
@if (TempData["message"] is not null)
{
    <div class="alert alert-primary mt-5">
        @TempData["message"]
    </div>
}



<h1>All Departments</h1>
<br />
<br />
<a asp-controller="Department" asp-action="Create" class="btn btn-primary ">Create New Department</a>

@if (Model.Count() > 0)
{
    <table class="mt-4 table table-striped table-hover">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(D=>D.Code)</td>
                <td>@Html.DisplayNameFor(D=>D.Name)</td>
                <td>@Html.DisplayNameFor(D=>D.DateOfCreation.Date)</td>
                <td>Details</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>
                    <td>@department.DateOfCreation</td>

                    <partial name="_ButtonsPartialView" model="@department.Id.ToString()" />
                </tr>
               
            }
        </tbody>
    </table>

}
else
{
    <div class="mt-5 alert alert-warning">
        <h2> There is No Departments</h2>
    </div>
    
}

